*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden;
}

:root{
    --nav-height: 100px;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: brown;
}
/* Start nav */
nav{
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px #333;
    z-index: 5;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    display: inline-block;
    font-size: large;
}

/* nav ul li+li::before{
    content: "";
    margin-left: 200px;
} */

nav li a{
    color: black;
}

nav ul{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    width: 100%;
    justify-content: space-around;
}
/* End nav */
/* Start main */
main{
    padding-top: var(--nav-height);
    padding-right: var(--nav-height);
    padding-left: var(--nav-height);
    z-index: 1;
}
@media only screen and (max-width: 1024px), (orientation: landscape){
    main{
        padding-left: 50px;
        padding-right: 50px;
    }

    @media only screen and (max-width: 768px){
        main{
            padding-left: 20px;
            padding-right: 20px;
    
        }
    }

@media only screen and (max-width: 480px) {
    main{
        padding-left: 1%;
        padding-right: 1%;
    }
}


}
/* Start about section */
#description{
    display: flex;
    flex-wrap: wrap;
    margin: 32px 16px;
    /* width: 100%; */
}

#description .about{
    flex: 70%;
    padding:0 100px;
}

.about h1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
}

.about p{
    font-size: 20px;
}

#description figure{
    flex: 30%;
    color: rgba(0, 0, 0, 0.4);
    padding-right: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#description figure img{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 950px){
    #description{
        margin-left: 10px;
    }

    #description .about{
        flex: 100%;
        padding: 0;
    }

    #description figure{
        padding-right: 0;
    }

#description figure img{
        margin-top: 20px;
    }
}
/* End about section */
/* Start project section */
.projectItems{
    border: 1px solid #333;
    min-height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 16px;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
}

 .projectItems p,
.projectItems a{
    padding: 10px 0;
}

.projectHidden{
    display: none;
    flex: 100%;
} 
/* End project section */
/* Start skill section */
#skill {
    margin-top: 60px;
}

#skill h2 {
    margin-bottom: 32px;
}

#skill img{
    display: inline-block;
    height: 100px;
    width: auto;
}

@media only screen and (max-width: 331px) {
    #skill img{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 5px;
    }
}